<html>
<main>
    <link href="style.css" rel="stylesheet" type="text/css" />
</main>

<head>
    <title>ToDo List APP</title>
</head>

<body>

    <Header>
        <h1>ToDo List</h1>
        <form id="new-todo-form">
            <input type="text" id="new-todo-input" placeholder='What do you have ToDo' />
            <input type="submit" id="new-todo-submit" value="Add Todo " />
        </form>
    </Header>

    <main>

        <section class="todo-list">
            <h2>ToDo</h2>

            <div id="todo">
                <!-- <div class="todo">
                    <div class="content">
                        <input 
                            type="text"
                            class="text"
                            value="Your new todo"
                            readonly
                        />
                    </div>
                    <div class="actions">
                        <button class="edit">Edit</button>
                        <button class="delete">Delete</button>
                    </div>
                </div> -->
            </div>
        </section>

    </main>
    <script src="main.js"></script>
    <script src="server.js"></script>
</body>

</html>